// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 400;
  background: var(--body-bg);
  height: 100vh;
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}


// Scrollbar
 *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #f25252;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f2c53d;
    border-radius: 10px;
    border: 0px outset #ffffff;
  }

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 2em;
  right: 2em;
  bottom: 0;
  margin-top: 3em; 
  padding: 1em;
  overflow-y: auto;
  &.no-pad {
    padding: 0;
    
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  
    
    ul {
      margin: 1rem 0;
      padding-left: 2rem;
      
      li {
        list-style: disc;
        margin-bottom: 0.5rem;
      
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


.cards-col {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; 
}

.article-card {
  width: 90%;
  padding: .5em;
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.459);
  margin-bottom: 2em;
}



.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signup-box {  
  max-width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signinup-logo {
  width: 40em;
  margin-bottom: 1em;
  left: 50%;
}

.signup-link {
  text-align: center;
  margin-top: auto;
  width: 100%;
}


// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}


// articles page ----------------
.post-entry {
  padding: 3em;
  margin:1em;
 }



// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}
