// Vars

:root {
  // base
  --base-txt-color: #ffffff;
  --heading-color: #f2c53d;
  --base-font-family: 'Helvetica', sans-serif;
  --body-bg: #f25252;
  --button-color: #f2c53d;
  

  // colors  
  $brand-color: #f25252;
  --link-color: #000000;
  --button-color:#f2c53d;
    
  // app header
  --app-header-height: 60px;
  --app-header-txt-color: #f2c53d;
  --app-header-title-font-size: 1.6em;

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #f2c53d;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}

